*{
    margin : 0;
}


#action {
    bottom: 0;
    padding: 15px;
    background: #ff7b25;
    color : white;
    font-family : Arial;
    height : 55px;
    width : 100%;
    position : fixed;
}

.dataBoard{
    width : 80%;
    height : 79%;
    padding-left : 5%;
    padding-right : 5%;
    margin : 0;
}

.data{
    width: 5px;
    height : 450px;
    background-color:turquoise;
    margin-left : .25%;
    margin-right : .25%;
    float : left;
}

.option{
    text-decoration : none;
    color : white;
    display : inline-block;
    margin: 20px;
}

.option:hover{
    color : crimson;
}

.label{
    display : inline-block; 
    margin: 20px;
}

.picked{
    background-color: red;
}

.sorted{
    background-color : lightgreen;
}

.pivot{
    background-color: lightgreen;
}